@charset "utf-8";

body {
    margin: 0;
}

.title{
    margin-left: 0.625rem;
    font-size: 30px;
    font-family:"Google Sans","roboto","helvetica";
    font-weight: 400;
    color: #5f6368;
    display: inline;
}

.text {
    font-family: "Google Sans", "Roboto", Helvetica;
    font-weight: 400;
    margin-left: 30px;
    margin-top: -20px;
    font-size: medium;
}

h2 {
    font-family: "Google Sans", "Roboto", Helvetica;
    font-weight: 1000;
    margin-left: 10px;
    margin-bottom: 30px;
}

.headsection {
    background-color: #f2f2f2;
    height:auto;
}

.home-img1 {
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.filebutton {
    position: relative;
    z-index: 2;
    display: block;
    width: 200px;
    height: 53px;
    border: 1px solid #005475;
    border-radius: 1rem;
    background: #005475;
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    line-height: 1;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 10%;
    transition: background 0.3s;
}

.filebutton:hover{
    background: #0079a9;
    border: 1px solid #0079a9;
}

.radio_s {
    font-family: "Google Sans", "Roboto", Helvetica;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: medium;
    width: 20%;
}

.fileuploading{
    position: relative;
    display: flex;
    justify-content: center; /* 水平方向の中央寄せ */
    align-items: center; /* 垂直方向の中央寄せ */
    margin: 0; /* コンテナ自体を中央寄せ */
}

.filename {
    position: relative;
    display: block;
    font-family: "Google Sans", "Roboto", Helvetica;
    font-weight: bold;
    font-size: large;
}

#inputFile {
    position: relative;
    text-align: center;
}

#dropArea {
    position: relative;
    width: 90%;
    height: 90%;
    padding: 200px 0 0;
    border: 2px dashed #494949;
    background: rgba(134, 220, 235, 0);
    transition: all 0.25s cubic-bezier(0.21, 0.51, 0.51, 1);
    border-radius: 3cap;
    text-align: center;
    display: inline-block;
    justify-content: center; /* 水平方向の中央寄せ */
    align-items: center; /* 垂直方向の中央寄せ */
    margin: 0 auto; /* コンテナ自体を中央寄せ */
    margin-bottom: 1%;
}

#dropArea.dragover {
    border: 2px solid #16a5bf;
    background: rgba(22, 165, 191, 0.6);
    
}

#csvFile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 300px;
    height: 80px;
    opacity: 0;
}

#csvFile:hover{
    background: #0079a9;
}

#inputFileWrap {
    position: relative;
    display: inline-flex;
}

#btnInputFile,
#btnChangeFile {
    display: table;
    width: 300px;
}

#btnChangeFile {
    display: none;
}


#btnInputFile span,
#btnChangeFile span {
    position: relative;
    z-index: 2;
    display: table-cell;
    width: 200px;
    height: 53px;
    border-radius: 1rem;
    background: #005475;
    text-decoration: none;
    font-family:"Google Sans","roboto","helvetica";
    color: #fff;
    font-size: 26px;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
}

#btnInputFile span:hover{
    background: #0079a9;
}

#upFileWrap.selected #btnInputFile {
    display: none;
}

#upFileWrap.selected #btnChangeFile {
    display: table;
}

.versiontxt{
    text-decoration: none;
    color: #494949;
    position: relative;
    display: block;
    margin-right: 10px;
}

.feedbacktxt{
    text-align: right;
    text-decoration: none;
    color: #494949;
    position: relative;
    display: block;
    margin-right: 10px;
}

.feedbacktxt:hover{
    color: #435f89;
}
